{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">

<div class="container text-center">
{% if search_bar %}
    <h1>Search Results</h1>
    <br>
    {% for result in search_results %}
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="{% url 'article' result.pk %}">
                <img src="{{result.image.url}}" class="article-thumbnail">
            </a>
            <h3><a href="{% url 'article' result.pk %}" class="article-link">{{ result.title }}</a></h3>
            <p> {{result.author.first_name}} {{result.author.last_name}}</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endfor %}
{% else %}
    <h1>No Search Results</h1>
{% endif %}
</div>
{% endblock %}